
a, a:hover {
    color: #1467c1;
}

.section-title h3::before {
    background-color: #1467c1;
}

#scrollUp {
    background-color: #1467c1;
}

.btn-common {
    border-color: #1467c1;
    color: #1467c1;
}

.btn-common:hover {
    background-color: #0e5d8c;
    border-color: #0e5d8c;
    color: #ffffff;
}

.header-top {
    background-color: #f0f2f9;
}

.topbar-left ul li span {
    color: #1467c1;
}

.social-icons a:hover {
    color: #1467c1;
}

.register-login a:hover {
    color: #1467c1;
}

.collapse-menu {
    background-color: #1467c1;
}

.collapse-menu > ul > li > a {
    background-color: #1467c1;
}

.collapse-menu ul li ul li a:hover {
    color: #1467c1;
}

.collapse-menu ul li ul li ul.mega-menu .megamenu-single ul li a:hover {
    color: #1467c1;
}

.mainmenu nav ul li a:hover {
    color: #1467c1;
}

.mainmenu nav ul li .submenu, .mega-menu {
    border-top-color: #1467c1;
}

.mini-cart-heading span {
    color: #1467c1;
}

.minicart-total span {
    color: #1467c1;
}

.mini-cart-checkout a.view-cart:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.mini-cart-checkout a.checkout {
    background-color: #1467c1;
    border-color: #1467c1;
}

.mini-cart-checkout a.checkout:hover {
    background-color: #0e5d8c;
    border-color: #0e5d8c;
}

.slider-product-price span {
    color: #1467c1;
}

.product-value span {
    color: #1467c1;
}

.banner-info h4 {
    color: #1467c1;
}

.search-box button {
    background-color: #1467c1;
}

.search-box button:hover {
    background-color: #0e5d8c;
}

.slider-caption h4 {
    color: #1467c1;
}

.mini-cart ul li a:hover {
    color: #1467c1;
}

.mini-cart ul li a span {
    background-color: #1467c1;
}

.product-deal {
    border-color: #1467c1;
}

.progress-bar {
    background-color: #1467c1;
}

.product-nav-tabs ul li a.active::before {
    background-color: #1467c1;
}

.blog-carousel-desc .readmore {
    color: #1467c1;
}

.product-title h4 a:hover {
    color: #1467c1;
}

.product-price-rating span {
    color: #1467c1;
}

.product-action a.add-to-cart {
    background-color: #1467c1;
}

.product-action a.add-to-cart:hover {
    background-color: #0e5d8c;
}

.product-action .product-compare:hover, .product-action .product-wishlist:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.product-single.style-2:hover {
    border-color: #1467c1;
}

.slick-slider .slick-dots li.slick-active button {
    background-color: #1467c1;
}

.price_slider_amount button {
    background-color: #1467c1;
}

.price_slider_amount button:hover {
    background-color: #0e5d8c;
}

.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background-color: #1467c1;
}

.price_filter .ui-slider-range {
    background-color: #1467c1;
}

.subscribe-form button {
    background-color: #1467c1;
}

.subscribe-form button:hover {
    background-color: #0e5d8c;
}

.blog-desc h2 a:hover {
    color: #1467c1;
}

.blog-desc .btn-common {
    min-width: 165px;
    background-color: #1467c1;
    border-color: #1467c1;
    color: #ffffff;
}

.blog-desc .btn-common:hover {
    background-color: #0e5d8c;
    border-color: #0e5d8c;
}

.blog-title h2 a:hover {
    color: #1467c1;
}

.social-icons.style-2 a:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.slick-slider .slick-arrow:hover {
    background-color: #1467c1;
}

.footer-menu ul li a:hover {
    color: #1467c1;
}

.blog-desc .catlink {
    border-bottom: 1px solid #a6bce1;
}

.compare-table table tr td span {
    color: #1467c1;
}

.compare-action a {
    color: #1467c1;
}

.compare-action a:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.product-action.stuck a.add-to-cart:hover {
    background-color: #1467c1;
    border-color: #1467c1;
    color: #ffffff;
}

.breadcrumbs ul li a:hover {
    color: #1467c1;
}

.cart-product-price {
    color: #1467c1;
}

.cart-update .btn-common:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.cart-coupon .btn-common:hover, .shpping-tax .btn-common:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.cart-coupon .btn-common:hover, .proceed-checkout .btn-common:hover, .shpping-tax .btn-common:hover {
    background-color: #1467c1;
    border-color: #1467c1;
    color: #ffffff;
}

.cart-steps li.active {
    background-color: #1467c1;
}

.cart-steps li.active .inner:after {
    border-color: #fff #1467c1;
}

.cart-total table tr td span {
    color: #1467c1;
}

.error-msg .btn-common:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.faq-heading h5 a i {
    color: #1467c1;
}

.vertical-menu ul li a:hover {
    color: #1467c1;
}

.site-pagination ul li a.active:hover {
    background-color: #1467c1;
    border-color: #1467c1;
}

.blog-details blockquote {
    border-left-color: #1467c1;
}

.tags-list a:hover {
    background-color: #1467c1;
}

.social-icons.style-5 a:hover {
    color: #1467c1;
}

.comment-reaction a:hover, .blog-comment-form .btn-common, .contact-form .btn-common {
    background-color: #1467c1;
    border-color: #1467c1;
}

.blog-comment-form .btn-common:hover, .contact-form .btn-common:hover {
    background-color: #0e5d8c;
    border-color: #0e5d8c;
}

.coming-soon-msg h1 {
    color: #1467c1;
}

.coming-countdown span.time-count {
    color: #1467c1;
}

.product-nav-tabs.style-2 ul li a.active {
    color: #1467c1;
}

.product-review-nav li a.active {
    background-color: #1467c1;
}

.specifications .price {
    color: #1467c1;
}

.product-features ul li::before {
    color: #1467c1;
}

.product-countdown.style-2 .cdown {
    border-color: #1467c1;
}

@media (max-width: 991px) {
    .collapse-menu > ul > li > a {
        color: #ffffff !important;
    }
}